h1{
    font-size: 23px;
}
@media (max-width: 768px) {
    h1 {
      font-weight: bold;
      color: grey;
    }
}
.card-list{
    width: 100%;
    height: 220px;
    display: flex;
    overflow-x: scroll;
    margin-top: 5px;
    margin-bottom: 35px;
    
}

.moviediv{
    height: 220px;
    width: 150px;
    margin-right: 15px;
}
@media (max-width: 768px) {
    .moviediv {
      margin-right: 3px;
      height: 180px;
      width: 120px;
    }
}
@media (max-width: 768px) {
    .card-list {
      height: 180px;
    }
}